.Activities { 
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: "url('../assets/img/roller-skates.jpg')";
}

nav.ActNavbar {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.ActNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.ActNav {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 12px;
  background-color: #aacfd0;
}
li.highlight {
  background-color: #5da0a2;
}

table.activity_head {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  min-width: 400px;
  margin: 10px 0px 10px 0px;  
}
tr {
  margin: 10px;
  padding: 25px;
}
.viewtitle {
  width: 25%;
  height: 50px; 
  text-align: left;
  padding: 10px;
}

.viewcity {
  width: 60%;
  height: 50px;
  text-align: left;
  padding: 10px;
}
.viewcosts {
  width: 15%;
  height: 50px;
  margin: 0px;
  text-align: right;
  padding: 10px;
}
th.viewtitle, th.viewcity, th.viewcosts {
  color: white;
}

.eventHeader {
  font-weight: bold;
}

