

.alert-complete {
  position: absolute !important;
  background: green !important;
  color: black !important;
  font-size: 22px !important;
}
/*#google-address-input {
  width: 350px !important;
}*/

