ul.ActNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.ActNav {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 12px;
  background-color: #d5e1df;
}
li.highlight {
  background-color: #b5e7a0;
}
table.activity_header {
  position: absolute;
  min-width: 400px;
  margin: 10px 15px 10px 15px;  
}
.viewtitle {
  width: 25%;
  height: 50px
  text-align: left;
}
.viewcity {
  width: 65%;
  height: 50px;
  text-align: left;
}
.viewcosts {
  width: 10%;
  height: 50px;
  text-align: right;
}
.eventHeader {
  font-weight: bold;
}

table.create_header {
  width: 100%;
}
th .cr_title {
  width: 15%;
}
th .cr_address {
  width: 40%;
}
th .cr_time .cr_cost {
  width: 10%
}

.md-toolbar-tools {
  background-color: rgb(63, 81, 181);
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
}

.main {
  margin-top: 50  px;
}