ul.ActNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.ActNav {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 12px;
  background-color: #d5e1df;
}

li.highlight {
  background-color: #b5e7a0;
}

table {
  width: 50%
}
.viewtitle .viewcity {
  width: 20%;
}

.viewcosts {
  width: 10%;
}

.eventHeader {
  font-weight: bold;
}
