ul.ActNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.ActNav {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 12px;
  background-color: #aacfd0;
}
li.highlight {
  background-color: #5da0a2;
}

table.activity_head {
  position: absolute;
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  min-width: 400px;
  margin: 10px 0px 10px 0px;  
}
tr {
  margin: 10px;
  padding: 25px;
}
.viewtitle {
  width: 25%;
  height: 50px; 
  text-align: left;
  padding: 10px;
}
.viewcity {
  width: 60%;
  height: 50px;
  text-align: left;
  padding: 10px;
}
.viewcosts {
  width: 15%;
  height: 50px;
  margin: 0px;
  text-align: right;
  padding: 10px;
}
.eventHeader {
  font-weight: bold;
}

.md-toolbar-tools {
  background-color: #34495E;
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
}

.main {
  margin-top: 50  px;
  background-size: cover;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #d8dfe2;
   padding: 10px;
 }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   padding: 10px;
 }