
<body>
  <navbar></navbar>
  <br>
<h2 style='color: #AA3939; font-size: 30pt'><strong>Saved Plans & Activities</strong></h2>
<br>
<div class='Activities' ng-controller='activitiesCtrl'>
  <div>
    <nav class='ActNavbar'>
      <ul class='ActNav'>
        <li class='ActNav' ng-click='activities_ctrl.userClickBookmarked()'
          ng-class='bm' ng-mouseenter='bm = "highlight"' ng-mouseleave='bm = "normal"'
          >Bookmarked</li>
        <li class='ActNav' ng-click='activities_ctrl.userClickCreated()'
          ng-class='cr' ng-mouseenter='cr = "highlight"' ng-mouseleave='cr = "normal"' 
          >Created</li>
        <li class='ActNav' ng-click='activities_ctrl.userClickCompleted()'
          ng-class='co' ng-mouseenter='co = "highlight"' ng-mouseleave='co = "normal"'
          >Completed</li>
      </ul>
    </nav>
  </div>
  <div>
    <br>
    <p></p>
    <table class='table-striped activity_head'>
      <thead>
          <br>
        <tr>
          <th class='viewtitle' ng-show='!activities_ctrl.plans[0].empty'>Title</th>
          <th class='viewcity' ng-show='!activities_ctrl.plans[0].empty'>City</th>
          <th class='viewcosts' ng-show='!activities_ctrl.plans[0].empty'>Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='plan in activities_ctrl.plans' ng-dblclick='activities_ctrl.userClickPlanEntry(plan.p_id)'>
          <td class='viewtitle'>{{ plan.title }}</td>
          <td class='viewcity'>{{ plan.city }}</td>
          <td class='viewcosts'>{{ plan.total_cost | currency }}</td>
        </tr>
      </tbody>
  </div>  
</div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/readable/bootstrap.min.css">
</body>
