<h2>Activities</h2>
<div name='Activities' ng-controller='activitiesCtrl'>
  <div>
    <nav>
      <ul class='ActNav'>
        <li class='ActNav' ng-click='activities_ctrl.userClickBookmarked()'
          ng-class='bm' ng-mouseenter='bm = "highlight"' ng-mouseleave='bm = "normal"'
          >Bookmarked</li>
        <li class='ActNav' ng-click='activities_ctrl.userClickCreated()'
          ng-class='cr' ng-mouseenter='cr = "highlight"' ng-mouseleave='cr = "normal"' 
          >Created</li>
        <li class='ActNav' ng-click='activities_ctrl.userClickCompleted()'
          ng-class='co' ng-mouseenter='co = "highlight"' ng-mouseleave='co = "normal"'
          >Completed</li>
      </ul>
    </nav>
  </div>
  <div>
    <br></br>
    <p></p>
    <table class='activity_header'>
      <thead>
        <tr>
          <th class='viewtitle'>Title</th>
          <th class='viewcity'>City</th>
          <th class='viewcosts'>Costs</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='plan in activities_ctrl.plans' ng-dblclick='activities_ctrl.userClickPlanEntry(plan.p_id)'>
          <td class='viewtitle'>{{plan.title}}</td>
          <td class='viewcity'>{{plan.city}}</td>
          <td class='viewcosts'>{{plan.total_cost | currency}}</td>
        </tr>
      </tbody>
  </div>  
</div>