<body>
<h2>the Plan</h2>
<div name='CreatePlan'>
  <form>
    <label>Title
      <input type='text' name='title' ng-model='create_ctrl.newPlanInfo.title' required>
    </label>
    <label>Location
      <input type='text' name='location' ng-model='create_ctrl.newPlanInfo.city' required>
    </label>
  </form>
  <!--div id='createMap'>
  <script>
  function initMap() {
    var defaultLocation = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('createMap'), {
      zoom: 4,
      center: defaultLocation
    });
    var marker = new google.maps.Marker({
      position: defaultLocation,
      map: map
    });
  }
  </script>
  </div-->
  <form>Events
    <table>
      <thead>
        <tr>
          <th>title</th>
          <th>address</th>
          <th>time</th>
          <th>cost ($)</th>
          <th>photolink</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type='text' ng-model='create_ctrl.newEventInfo.event_type'></td>
          <td><input type='text' ng-model='create_ctrl.newEventInfo.address' id='google-address-input' ng-keyup='create_ctrl.showAutoSuggestions()' list='suggest-from-yelp-list'></td> 
          <datalist id='suggest-from-yelp-list'>
            <option ng-repeat='suggestion in create_ctrl.allPlaceSuggestions' ng-value="suggestion.name"></option>
          </datalist>
          <td><input type='text' ng-model='create_ctrl.newEventInfo.start_time' id='start_time_input'></td>
          <td><input type='text' ng-model='create_ctrl.newEventInfo.cost'></td>
          <!--<td><img ng-src="create_ctrl.current_place_img"></td>-->
          <td>attach</td>
          <td><button ng-click='create_ctrl.userDidClickAddEvent()'>Add Event</button></td>
        </tr>
      </tbody>
    </table>
  </form>
  <table>Events List
    <thead>
      <th>title</th>
      <th>address</th>
      <th>time</th>
      <th>cost</th>
      <th>photolink</th>
    </thead>
    <tbody>
      <tr ng-repeat='event in create_ctrl.addedEvents'>
        <td><p>{{ event.event_type }}</p></td>
        <td><p style='width: 350px;' id='added-events-address-p'>{{ event.address }}</p></td>
        <td><p>{{ event.start_time }}</p></td>
        <td><p>{{ event.cost | currency }}</p></td>
        <td><img style='width: 200px; height: 200px;' ng-src="{{event.photo}}"></td>
        <td><button ng-click='create_ctrl.userDidClickRemoveFromAddedEvents(event)'>X</button></td>
      </tr>
    </tbody>
  </table>
  <input ng-click='create_ctrl.userDidClickMakePlan()' type='button' value='Make Plan'>
  <!--<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBVzNx4R3D71W4Cg0RrD06Q5i-7UP5l-pU&callback=initTest"></script>-->
  <script>
    // autocomplete
    function initTest() {
      // var new_event_address = document.querySelector('#google-address-input');
      // var new_event_address_auto_complete = new google.maps.places.Autocomplete(new_event_address);
    }
  </script>

  </body>