<h2>the Plan</h2>
<div name='CreatePlan'>
  <form>
    <label>Title
      <input type='text' name='title' ng-model='create_ctrl.newPlanInfo.title' required>
    </label>
    <label>Location
      <input type='text' name='location' ng-model='create_ctrl.newPlanInfo.city' required>
    </label>
  </form>
  <!--div id='createMap'>
  <script>
  function initMap() {
    var defaultLocation = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('createMap'), {
      zoom: 4,
      center: defaultLocation
    });
    var marker = new google.maps.Marker({
      position: defaultLocation,
      map: map
    });
  }
  </script>
  </div-->
  <form>Events
    <table>
      <thead>
        <tr>
          <th>title</th>
          <th>address</th>
          <th>time</th>
          <th>cost</th>
          <th>photolink</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type='text' ng-model='create_ctrl.newEventInfo.event_type'></td>
          <td><input type='text' ng-model='create_ctrl.newEventInfo.address'></td> 
          <td><input type='text' ng-model='create_ctrl.newEventInfo.start_time'></td>
          <td><input type='text' ng-model='create_ctrl.newEventInfo.cost'></td>
          <td>attach</td>
          <td><button ng-click='create_ctrl.userDidClickAddEvent()'>Add Event</button></td>
        </tr>
      </tbody>
    </table>
  </form>
  <table>Events List
    <thead>
      <th>title</th>
      <th>address</th>
      <th>time</th>
      <th>cost</th>
      <th>photolink</th>
    </thead>
    <tbody>
      <tr ng-repeat='event in create_ctrl.addedEvents'>
        <td><p>{{ event.event_type }}</p></td>
        <td><p>{{ event.address }}</p></td>
        <td><p>{{ event.start_time }}</p></td>
        <td><p>{{ event.cost }}</p></td>
        <td><p>some_photo_uri</p></td>
        <td><button ng-click='create_ctrl.userDidClickRemoveFromAddedEvents(event)'>X</button></td>
      </tr>
    </tbody>
  </table>
  <input ng-click='create_ctrl.userDidClickMakePlan()' type='button' value='Make Plan'>