<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span
      ui-sref="home">
      NALP
      </span>
    </h2>
    <span flex></span>

    <md-button
    ui-sref="search">
    Search
    </md-button>
    
    <md-button
    ui-sref="activities"
    ng-if="navbar_ctrl.auth.isAuthenticated">
    Saved
    </md-button>

    <md-button
    ui-sref="create"
    ng-if="navbar_ctrl.auth.isAuthenticated">
    Create
    </md-button>

    <md-button
    ng-click="navbar_ctrl.login()"
    ng-if="!navbar_ctrl.auth.isAuthenticated">
    Login
    </md-button>

    <md-button
    ui-sref="profile"
    ng-if="navbar_ctrl.auth.isAuthenticated">
    Profile
    </md-button>

    <md-button
    ng-click="navbar_ctrl.logout()"
    ng-if="navbar_ctrl.auth.isAuthenticated">
    Logout
    </md-button>

    
  </div>
</md-toolbar>