<h2> The Plan View</h2>

<head>
  <style>
    #map {
      height: 50%;
      width: 30%;
      padding: 150px;
    }

    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script>
    var markers = [];
    var resultsMaps = [];
    var addedEvents = [];
    var address = '';

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        maxZoom: 15,
        center: {
          lat: 33.976175,
          lng: -118.390773
        }
      });
      var geocoder = new google.maps.Geocoder();
      var jqueryURL = window.location.href.slice(30);

      $.ajax({
          url: "/plans/" + jqueryURL,
          method: "GET"
        })
        .done(function (data) {
          console.log('success! jquery data = ', data);
          for (let i = 0; i < data.plan.events.length; i++) {
            address = data.plan.events[i].address;
            geocodeAddress(geocoder, map, i);
          }
        })
        .fail(function (err) {
          console.log('error! ', err);
        });
    }

    function geocodeAddress(geocoder, resultsMap, i) {
      var directionsDisplay = new google.maps.DirectionsRenderer({
        map: resultsMap
      });
      var directionsService = new google.maps.DirectionsService;

      geocoder.geocode({
        'address': address
      }, function (results, status) {
        if (status === 'OK') {
          directionsDisplay.setMap(resultsMap);
          directionsDisplay.setOptions({
            suppressMarkers: true,
            preserveViewport: true
          });
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            draggable: false,
            clickable: true,
            optimized: true,
            position: results[0].geometry.location,
            title: address,
            icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (i + 1) +
              '|FF0000|000000'
          });

          infowindow = new google.maps.InfoWindow({
            content: marker.title
          });

          marker.addListener('click', function () {
            infowindow.setContent(marker.title);
            infowindow.open(resultsMap, this);
          });

          markers.push(marker);
          var bounds = new google.maps.LatLngBounds();
          for (let i = 0; i < markers.length; i++) {

            bounds.extend(markers[i].getPosition());
          }
          resultsMap.fitBounds(bounds);
          resultsMaps.push(results[0].formatted_address);
          var start = resultsMaps[resultsMaps.length - 2];
          var end = resultsMaps[resultsMaps.length - 1];

          function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            if (start) {
              directionsService.route({
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
              }, function (response, status) {
                if (status === 'OK') {
                  directionsDisplay.setDirections(response);
                } else {
                  console.log('Directions request failed: ', status);
                }
              });
            }
          }
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        } else {
          alert('Invalid address! ERROR CODE: ' + status);
        }
      });
    }
  </script>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVzNx4R3D71W4Cg0RrD06Q5i-7UP5l-pU&callback=initMap">
  </script>

  <div name='plans'>
    600 bookmarks 57 completed
    <br>
    <table>
      <thead>
        <tr>
          <th style='width: 150px;'>Itinerary</th>
          <th style='width: 50px;'>Time</th>
          <th style='width: 50px;'>Cost</th>
        </tr>
      </thead>
    </table>

    <table>
      <tbody>
        <tr ng-repeat='event in plan_ctrl.addedEvents'>
          <td>
            <p style='width: 150px;' id='added-events-address-p'>{{ event.address }}</p>
          </td>
          <td>
            <p style='width: 50px;' id='added-events-address-p'>{{ event.start_time }}</p>
          </td>
          <td>
            <p style='width: 50px;' id='added-events-address-p'>${{ event.cost }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div style='width: 150px;'> total cost: ${{plan_ctrl.totalCost}}</div>
    <br>
    <input ng-click='plan_ctrl.userDidClickMarkAsComplete()' type='button' value='Mark As Complete'>
</body>