
<div class="container">
  <div class="spacer"></div>
  <div class="jumbotron">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <img src="{{ profile_ctrl.profile.picture }}" alt="profile-picture">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <p>
      Email: {{ profile_ctrl.profile.email }}
      </p> 
    </div>
    <div class="jumbotron"></div>
  </div>
</div>




<!--<div layout="row" layout-fill layout-align="center " class="jumbotron">
  <div >
    <img src="{{ profile_ctrl.profile.picture }}" alt="profile-picture">
  <div>
    {{ profile_ctrl.profile.nickname }}
  </div>
  <div>
    {{ profile_ctrl.profile.email }}
  </div>  
  </div>
</div>-->
        
     